html,body {
    height: 100%;
}

body {
    margin: 0;
}

.Carousel {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.Carousel img {
    width: 100%;
    height: 100%;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
}

.model {
    text-align: center;
    position: relative;
    padding: 30px;
    border-bottom: 1px solid navajowhite;
    cursor: pointer;
}

.model p {
    color: red;
}

.model p:nth-child(1) {
    margin-top: 60px;
}

.model img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.right {
    text-align: right;
}

.showTrue {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.iconAll {
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 1;
}

.collapse {
    display: none;
}

.iconChange {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
}

.homeIcon {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
}