#menu {
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    text-align: center;
    margin: 0;
}

#menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.section {
    text-align: center;
    color: #fff;
}

body {
    background: url("../image/bg.jpg") center no-repeat;
    background-size: 100%;
}

.section {
    background: rgba(0, 0, 0, 0.8);
}

.mySelf {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    opacity: 0;
    margin: 0 0 5%;
    -webkit-transform: translate(500px, 100px) rotate(-180deg) scale(.5);
    -moz-transform: translate(500px, 100px) rotate(-180deg) scale(.5);
    -ms-transform: translate(500px, 100px) rotate(-180deg) scale(.5);
    -o-transform: translate(500px, 100px) rotate(-180deg) scale(.5);
}

@-webkit-keyframes ballDrop {
    60% {
        -webkit-transform: translate(0, 100px) rotate(360deg) scale(.5);
    }
    100% {
        -webkit-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes ballDrop {
    60% {
        -moz-transform: translate(0, 100px) rotate(360deg) scale(.5);
    }
    100% {
        -moz-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@-ms-keyframes ballDrop {
    60% {
        -ms-transform: translate(0, 100px) rotate(360deg) scale(.5);
    }
    100% {
        -ms-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@-o-keyframes ballDrop {
    60% {
        -o-transform: translate(0, 100px) rotate(360deg) scale(.5);
    }
    100% {
        -o-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

#section1.active .mySelf {
    -webkit-transform: translate(500px, -200px) scale(1);
    -moz-transform: translate(500px, -200px) scale(1);
    -ms-transform: translate(500px, -200px) scale(1);
    -o-transform: translate(500px, -200px) scale(1);
    transform: translate(500px, -200px) scale(1);
    animation: ballDrop 1s forwards;
}

#section1.active .animate p {
    -webkit-transform: translate(200px, -100px) scale(3);
    -moz-transform: translate(200px, -100px) scale(3);
    -ms-transform: translate(200px, -100px) scale(3);
    -o-transform: translate(200px, -100px) scale(3);
    -webkit-animation: animateSelf .8s forwards;
    -moz-animation: animateSelf .8s forwards;
    -ms-animation: animateSelf .8s forwards;
    -o-animation: animateSelf .8s forwards;
    opacity: 0;
}

@-webkit-keyframes animateSelf {
    60% {
        -webkit-transform: translate(0, 100px) scale(1.5);
    }
    100% {
        -webkit-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes animateSelf {
    60% {
        -moz-transform: translate(0, 100px) scale(1.5);
    }
    100% {
        -moz-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@-ms-keyframes animateSelf {
    60% {
        -ms-transform: translate(0, 100px) scale(1.5);
    }
    100% {
        -ms-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@-o-keyframes animateSelf {
    60% {
        -o-transform: translate(0, 100px) scale(1.5);
    }
    100% {
        -o-transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

.animate {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #f3f3f3;
    padding-top: 65px;
    border-radius: 30%;
}

#section1.active .animate p {
    font-size: 20px;
}

#section1.active .animate p:nth-of-type(1) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    color: crimson;
}

#section1.active .animate p:nth-of-type(2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
}

#section1.active .animate p:nth-of-type(3) {
    -webkit-animation-delay: 25s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    -o-animation-delay: 2s;
}

.goNext {
    opacity: 0;
    -webkit-animation: goNext 3.5s infinite;
    -moz-animation: goNext 3.5s infinite;
    -ms-animation: goNext 3.5s infinite;
    -o-animation: goNext 3.5s infinite;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    bottom: 30px;
    cursor: pointer;
}

@-webkit-keyframes goNext {
    0% {
        opacity : 1;
        -webkit-transform: translate(-50%,-30px);
        -webkit-transition: all .8s ease 3.4s;
   }
    100% {
        opacity : 0;
        -webkit-transform: translate(-50%,0);
        -webkit-transition: all .8s ease 3.4s;
    }
}

@-moz-keyframes goNext {
    0% {
        opacity : 1;
        -moz-transform: translate(-50%,-30px);
        -moz-transition: all .8s ease 3.4s;
    }
    100% {
        opacity : 0;
        -moz-transform: translate(-50%,0);
        -moz-transition: all .8s ease 3.4s;
    }
}

@-ms-keyframes goNext {
    0% {
        opacity : 1;
        -ms-transform: translate(-50%,-30px);
        -ms-transition: all .8s ease 3.4s;
    }
    100% {
        opacity : 0;
        -ms-transform: translate(-50%,0);
        -ms-transition: all .8s ease 3.4s;
    }
}

@-o-keyframes goNext {
    0% {
        opacity : 1;
        -o-transform: translate(-50%,-30px);
        -o-transition: all .8s ease 3.4s;
    }
    100% {
        opacity : 0;
        -o-transform: translate(-50%,0);
        -o-transition: all .8s ease 3.4s;
    }
}

.showOne,.showTwo {
    width: 120px;
}

.showOne {
    -webkit-transform: rotate(334deg);
    -moz-transform: rotate(334deg);
    -ms-transform: rotate(334deg);
    -o-transform: rotate(334deg);
}

.showTwo {
    -webkit-transform: rotate(26deg);
    -moz-transform: rotate(26deg);
    -ms-transform: rotate(26deg);
    -o-transform: rotate(26deg);
}

#section2,#section3 {
    position: relative;
}

#section3.active .showOne {
    position: absolute;
    left: 40%;
    top: 30px;
    -webkit-transform: translate(-200%,240%) scale(1) rotate(-20deg);
    -moz-transform: translate(-200%,240%) scale(1) rotate(-20deg);
    -ms-transform: translate(-200%,240%) scale(1) rotate(-20deg);
    -o-transform: translate(-200%,240%) scale(1) rotate(-20deg);
    -webkit-animation: showOne 3s ease-out;
    -moz-animation: showOne 3s ease-out;
    -ms-animation: showOne 3s ease-out;
    -o-animation: showOne 3s ease-out;
    opacity: 1;
}

#section3.active .showTwo {
    position: absolute;
    top: 30px;
    right: 40%;
    -webkit-transform: translate(200%,240%) scale(1) rotate(20deg);
    -moz-transform: translate(200%,240%) scale(1) rotate(20deg);
    -ms-transform: translate(200%,240%) scale(1) rotate(20deg);
    -o-transform: translate(200%,240%) scale(1) rotate(20deg);
    -webkit-animation: showTwo 3s ease-out;
    -moz-animation: showTwo 3s ease-out;
    -ms-animation: showTwo 3s ease-out;
    -o-animation: showTwo 3s ease-out;
    opacity: 1;
}

@-webkit-keyframes showOne {
    0% {
        opacity: 0;
        -webkit-transform: translate(0) scale(1);
        -webkit-animation: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-400%,300%) scale(1);
    }
}

@-moz-keyframes showOne {
    0% {
        opacity: 0;
        -moz-transform: translate(0) scale(1);
        -moz-animation: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
        -moz-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(-400%,300%) scale(1);
    }
}

@-ms-keyframes showOne {
    0% {
        opacity: 0;
        -ms-transform: translate(0) scale(1);
        -ms-animation: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
        -ms-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(-400%,300%) scale(1);
    }
}

@-o-keyframes showOne {
    0% {
        opacity: 0;
        -o-transform: translate(0) scale(1);
        -o-animation: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
        -o-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -o-transform: translate(-400%,300%) scale(1);
    }
}

@-webkit-keyframes showTwo {
    0% {
        opacity: 0;
        -webkit-transform: translate(0) scale(1);
        -webkit-transition: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(400%,300%) scale(1);
    }
}

@-o-keyframes showTwo {
    0% {
        opacity: 0;
        -o-transform: translate(0) scale(1);
        -o-transition: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
        -o-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -o-transform: translate(400%,300%) scale(1);
    }
}

@-moz-keyframes showTwo {
    0% {
        opacity: 0;
        -moz-transform: translate(0) scale(1);
        -moz-transition: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
        -moz-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(400%,300%) scale(1);
    }
}

@-ms-keyframes showTwo {
    0% {
        opacity: 0;
        -ms-transform: translate(0) scale(1);
        -ms-transition: all .8s linear 3.4s;
    }
    50% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
        -ms-transform: translate(0,500%) scale(1.2);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(400%,300%) scale(1);
    }
}

#section3 .animate {
    width: 30%;
    margin: 0 auto;
}

#section2.active h3,#section3.active h3 {
    margin-bottom: 40px;
    -webkit-animation: showFalse 2s linear;
    -moz-animation: showFalse 2s linear;
    -ms-animation: showFalse 2s linear;
    -o-animation: showFalse 2s linear;
    opacity: 1;
}

@-webkit-keyframes showFalse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes showFalse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes showFalse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes showFalse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#section2.active .baseInfo .baseOne {
    -webkit-transform: translate(200px, -500px);
    -moz-transform: translate(200px, -500px);
    -ms-transform: translate(200px, -500px);
    -o-transform: translate(200px, -500px);
    -webkit-animation: animateBaseOne 1s forwards;
    -moz-animation: animateBaseOne 1s forwards;
    -ms-animation: animateBaseOne 1s forwards;
    -o-animation: animateBaseOne 1s forwards;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

}

#section2 .baseInfo .baseOne .hideMask,
#section2 .baseInfo .baseTwo .hideMaskTwo,
#section2 .baseInfo .baseThree .hideMaskThree {
    width: 314px;
}

#section2 p {
     width: 314px;
 }

#section2 p {
    margin: 0 auto;
}


#section2.active .baseInfo .baseOne .hideMask,
#section2.active .baseInfo .baseTwo .hideMaskTwo,
#section2.active .baseInfo .baseThree .hideMaskThree,
#section2 .baseInfo .baseOne .hideMask,
#section2 .baseInfo .baseTwo .hideMaskTwo,
#section2 .baseInfo .baseThree .hideMaskThree{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#section2.active .baseInfo .baseTwo {
    -webkit-transform: translate(200px, -100px);
    -moz-transform: translate(200px, -100px);
    -ms-transform: translate(200px, -100px);
    -o-transform: translate(200px, -100px);
    -webkit-animation: animateBaseTwo 2s forwards;
    -moz-animation: animateBaseTwo 2s forwards;
    -ms-animation: animateBaseTwo 2s forwards;
    -o-animation: animateBaseTwo 2s forwards;
    overflow: hidden;
    margin-bottom: 15px;
}

#section2.active .baseInfo .baseThree {
    -webkit-animation: animateBaseThree 3s forwards;
    -moz-animation: animateBaseThree 3s forwards;
    -ms-animation: animateBaseThree 3s forwards;
    -o-animation: animateBaseThree 3s forwards;
    overflow: hidden;
    margin-bottom: 15px;
}

@-webkit-keyframes animateBaseOne {
      0% {
          opacity: 0;
          -webkit-transform: translateY(-500px);
      }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
    }
}

@-moz-keyframes animateBaseOne {
    0% {
        opacity: 0;
        -moz-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0);
    }
}

@-ms-keyframes animateBaseOne {
    0% {
        opacity: 0;
        -ms-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0);
    }
}

@-o-keyframes animateBaseOne {
    0% {
        opacity: 0;
        -o-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0);
    }
}

@-webkit-keyframes animateBaseTwo {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
    }
}

@-moz-keyframes animateBaseTwo {
    0% {
        opacity: 0;
        -moz-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0);
    }
}

@-ms-keyframes animateBaseTwo {
    0% {
        opacity: 0;
        -ms-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0);
    }
}

@-o-keyframes animateBaseTwo {
    0% {
        opacity: 0;
        -o-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0);
    }
}

@-webkit-keyframes animateBaseThree {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
    }
}

@-moz-keyframes animateBaseThree {
    0% {
        opacity: 0;
        -moz-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0);
    }
}

@-ms-keyframes animateBaseThree {
    0% {
        opacity: 0;
        -ms-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0);
    }
}

@-o-keyframes animateBaseThree {
    0% {
        opacity: 0;
        -o-transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0);
    }
}

#section3 .animate span {
    display: none;
}

#section3.active .animate span {
    display: inline-block;
}

#section3.active .animate span:nth-of-type(2) {
    -webkit-animation-delay: .05s;
    -moz-animation-delay: .05s;
    -ms-animation-delay: .05s;
    -o-animation-delay: .05s;
}

#section3.active .animate span:nth-of-type(3) {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -ms-animation-delay: .1s;
    -o-animation-delay: .1s;
}

#section3.active .animate span:nth-of-type(4) {
    -webkit-animation-delay: .15s;
    -moz-animation-delay: .15s;
    -ms-animation-delay: .15s;
    -o-animation-delay: .15s;
}

#section3.active .animate span:nth-of-type(5) {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
}

#section3.active .animate span:nth-of-type(6) {
    -webkit-animation-delay: .25s;
    -moz-animation-delay: .25s;
    -ms-animation-delay: .25s;
    -o-animation-delay: .25s;
}

#section3.active .animate span:nth-of-type(7) {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
}

#section3.active .animate span:nth-of-type(8) {
    -webkit-animation-delay: .35s;
    -moz-animation-delay: .35s;
    -ms-animation-delay: .35s;
    -o-animation-delay: .35s;
}

#section3.active .animate span:nth-of-type(9) {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
}

#section3.active .two span {
    color: lightseagreen;
    opacity: 0;
    -webkit-transform: translate(200px, -100px) scale(3);
    -moz-transform: translate(200px, -100px) scale(3);
    -ms-transform: translate(200px, -100px) scale(3);
    -o-transform: translate(200px, -100px) scale(3);
    -webkit-animation: ballDrop 1s forwards;
    -moz-animation: ballDrop 1s forwards;
    -ms-animation: ballDrop 1s forwards;
    -o-animation: ballDrop 1s forwards;
}

@-webkit-keyframes ballDrop {
    60% {
        -webkit-transform: translate(0, 20px) scale(.5);
    }
    100% {
        -webkit-transform: translate(0) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes ballDrop {
    60% {
        -moz-transform: translate(0, 20px) scale(.5);
    }
    100% {
        -moz-transform: translate(0) scale(1);
        opacity: 1;
    }
}

@-ms-keyframes ballDrop {
    60% {
        -ms-transform: translate(0, 20px) scale(.5);
    }
    100% {
        -ms-transform: translate(0) scale(1);
        opacity: 1;
    }
}

@-o-keyframes ballDrop {
    60% {
        -o-transform: translate(0, 20px) scale(.5);
    }
    100% {
        -o-transform: translate(0) scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #section3 .animate {
        min-width: 255px;
    }

    #section3.active .showOne {
        position: absolute;
        left: 40%;
        top: 30px;
        -webkit-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -moz-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -ms-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -o-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -webkit-animation: showOneElse 3s ease-out;
        -moz-animation: showOneElse 3s ease-out;
        -ms-animation: showOneElse 3s ease-out;
        -o-animation: showOneElse 3s ease-out;
        opacity: 1;
    }

    @-webkit-keyframes showOneElse {
        0% {
            -webkit-transform: translate(-123%,0%) scale(0.8);
            -webkit-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -webkit-animation-timing-function: ease-out;
            -webkit-transform: translate(-123%,500%) scale(0.8);
        }
    }

    @-moz-keyframes showOneElse {
        0% {
            -moz-transform: translate(-123%,0%) scale(0.8);
            -moz-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -moz-animation-timing-function: ease-out;
            -moz-transform: translate(-123%,500%) scale(0.8);
        }
    }

    @-ms-keyframes showOneElse {
        0% {
            -ms-transform: translate(-123%,0%) scale(0.8);
            -ms-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -ms-animation-timing-function: ease-out;
            -ms-transform: translate(-123%,500%) scale(0.8);
        }
    }

    @-o-keyframes showOneElse {
        0% {
            -o-transform: translate(-123%,0%) scale(0.8);
            -o-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -o-animation-timing-function: ease-out;
            -o-transform: translate(-123%,500%) scale(0.8);
        }
    }

    #section3.active .showTwo {
        position: absolute;
        top: 30px;
        right: 40%;
        -webkit-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -moz-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -ms-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -o-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -webkit-animation: showTwoElse 3s ease-out;
        -moz-animation: showTwoElse 3s ease-out;
        -ms-animation: showTwoElse 3s ease-out;
        -o-animation: showTwoElse 3s ease-out;
        opacity: 1;
    }

    @-webkit-keyframes showTwoElse {
        0% {
            -webkit-transform: translate(123%,0%) scale(0.8);
            -webkit-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -webkit-animation-timing-function: ease-out;
            -webkit-transform: translate(123%,500%) scale(0.8)
        }
    }


    @-moz-keyframes showTwoElse {
        0% {
            -moz-transform: translate(123%,0%) scale(0.8);
            -moz-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -moz-animation-timing-function: ease-out;
            -moz-transform: translate(123%,500%) scale(0.8)
        }
    }


    @-ms-keyframes showTwoElse {
        0% {
            -ms-transform: translate(123%,0%) scale(0.8);
            -ms-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -ms-animation-timing-function: ease-out;
            -ms-transform: translate(123%,500%) scale(0.8)
        }
    }


    @-o-keyframes showTwoElse {
        0% {
            -o-transform: translate(123%,0%) scale(0.8);
            -o-transition: all .8s linear 3.4s;
        }
        100% {
            opacity: 1;
            -o-animation-timing-function: ease-out;
            -o-transform: translate(123%,500%) scale(0.8)
        }
    }

    #section3.active .showOne {
        -webkit-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -moz-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -ms-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
        -o-transform: translate(-123%,0%) scale(0.8) rotate(-20deg);
    }

    #section3.active .showTwo {
        -webkit-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -moz-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -ms-transform: translate(123%,0%) scale(0.8) rotate(20deg);
        -o-transform: translate(123%,0%) scale(0.8) rotate(20deg);
    }
}

#section2 .baseOne .hideMask,#section2 .baseTwo .hideMaskTwo,#section2 .baseThree .hideMaskThree {
    background: #f3f3f3;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #000;
}

#section2 .baseOne:hover .hideMask,#section2 .baseTwo:hover .hideMaskTwo,#section2 .baseThree:hover .hideMaskThree {
     top: -100%;
 }

#section4 a {
    font-size: 20px;
    display: inline-block;
    width: 150px;
    height: 48px;
    line-height: 48px;
    background: cornsilk;
    color: #000;
    border-radius: 5px;
    margin-top: 25px;
}