#menu {
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    text-align: center;
    margin: 0;
}

#menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

#list {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 2;
}

#list label {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
    left: 15px;
    top: 15px;
}

#list label .shang, #list label .xia {
    display: block;
    width: 28px;
    height: 1px;
    background: #fff;
    transition: transform .5s ease .2s;
    transform-origin: 79%;
}

#list label .shang {
    margin-bottom: 10px;
    margin-top: 28px;
    position: absolute;
    top: 0;
    left: 0;
}

#list label .xia {
    margin-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
}

#check {
    display: none;
}

#check:checked + label .shang {
    transform: rotate(45deg);
}

#check:checked + label .xia {
    transform: rotate(-45deg);
}

ul {
    padding: 0 15px;
    list-style: none;
}

.workTotal ul li {
    text-align: left;
    text-indent: 2em;
}

.animate.two {
    text-align: center;
    margin-top: 120px;
}

.headPortrait {
    opacity: 0;
}

.headPortrait {
    width: 100%;
    height: 150px;
}

#section1.active .headPortrait {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -5%) scale(1) rotate(0deg);
    -moz-transform: translate(-50%, -5%) scale(1) rotate(0deg);
    -ms-transform: translate(-50%, -5%) scale(1) rotate(0deg);
    -o-transform: translate(-50%, -5%) scale(1) rotate(0deg);
    transform: translate(-50%, -5%) scale(1) rotate(0deg);
    /*-webkit-animation: headPic 2s ease;*/
    /*-o-animation: headPic 2s ease;*/
    /*animation: headPic 2s ease;*/
    opacity: 1;
}

#section1.active .headPortrait img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    -moz-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    -ms-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    -o-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    -webkit-animation: headPic 2s ease;
    -o-animation: headPic 2s ease;
    animation: headPic 2s ease;
    border-radius: 50%;
    border: 15px solid lightpink;
}

@keyframes headPic {
    0% {
        transform: translate(-50%, -50%) scale(1.5) rotate(-45deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}

@-webkit-keyframes headPic {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(-45deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}

@-moz-keyframes headPic {
    0% {
        -moz-transform: translate(-50%, -50%) scale(1.5) rotate(-45deg);
    }

    100% {
        -moz-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}

@-ms-keyframes headPic {
    0% {
        -ms-transform: translate(-50%, -50%) scale(1.5) rotate(-45deg);
    }

    100% {
        -ms-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}

@-o-keyframes headPic {
    0% {
        -o-transform: translate(-50%, -50%) scale(1.5) rotate(-45deg);
    }

    100% {
        -o-transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}

.myProduct {
    font-size: 14px;
    padding: 0 20px;
}

.myProduct h3 {
    font-size: 18px;
}

.myProduct p {
    margin-bottom: 5px;
}

.marginTop {
    margin-top: 10px;
}

.workTotal {
    font-size: 14px;
    padding: 0 15px;
}

.workTotal h3 {
    font-size: 18px;
}

.markColor {
    color: indianred;
}

#leftPo li a, #rightPo li a {
    text-decoration: none;
    color: black;
}

#leftPo li a#more {
    color: orangered;
    font-weight: bolder;
}

.tecShow span {
    padding: 3px 5px;
    background-color: indianred;
    font-size: 14px;
    margin: 15px 15px 0 0;
    display: inline-block;
    color: aliceblue;
}

#tec,#myInfo {
    padding: 0 15px;
}

#tec h3 {
    font-size: 18px;
}

ul.introduce li {
    text-align: center;
}

#myInfo {
    font-size: 14px;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
}

#myInfo p{
    margin-bottom: 5px;
}